* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: maroon;
  height: 100vh;
  width: 100%;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.main-content {
  flex-grow: 1; /* Takes the remaining space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 25px;
}
h1 {
  font-size: 80px;
  font-weight: 800;
}
p {
  width: 500px;
  font-size: 25px;
  word-spacing: 3px;

  opacity: 0.9;
}
nav {
  height: 120px;
  display: flex;
  align-items: center;
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  padding-top: 20px;
}
.logo img {
  width: 100px;
  height: 100px;
}

h3 {
  font-size: 30px;
  padding-top: 20px;
}

.motion-container {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 500px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Styles for motion items */
.motion-item {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.motion-image {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Ensures images fill the container without distortion */
  border-radius: 10px;
}

@media (min-width: 576px) and (max-width: 992px) {
  .motion-item {
    width: 310px;
    height: 310px;
  }
  .motion-image {
    width: 310px;
    height: 310px;
  }
  .motion-container {
    width: 700px;
    height: 700px;
    margin-top: 40px;
  }

  .container {
    width: 100%;
    padding-top: 70px;
  }
  nav {
    padding-top: 50px;
  }
  .logo img {
    width: 80px;
    height: 80px;
  }

  section {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  nav {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
  p {
    margin: 0 auto;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 70%;
  }
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 20px;
  }
  h1 {
    font-size: 40px;
  }
  .container {
    width: 100%;
    padding-top: 50px;
  }

  .motion-item {
    width: 120px;
    height: 120px;
  }
  .motion-image {
    width: 120px;
    height: 120px;
  }
  .motion-container {
    margin-top: 30px;
    width: 300px;
    height: 300px;
  }
  section {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
  }

  p {
    width: 300px;
    font-size: 18px;
    margin: 0 auto;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }
  nav {
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
